/@types
/besu
/src
/node_modules
/coverage
/dist/contracts
/tsconfig.json
/jest.config.json

/jest.config.json
/renovate.json
/tsconfig.json
/tsconfig.eslint.json
/eslint.config.mjs
/docker-compose.yml
/genesis.json

.*

**/*.spec.*
