.idea
.github
.prettierrc
.huskyrc
.lintstagedrc
.env
.eslintignore
.eslintrc

/src
/scripts
/coverage
/besu

/tsconfig.json
/tsconfig.test.json
/jest.config.json
/jsobsrc.json
/renovate.json
/docker-compose.yml

**/*.spec.*
**/*.js.*
